body {
    background-color: #141526;
}

label {
    color: floralwhite;
    font-size: 25px
}

h1, h2 {
    color: floralwhite;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 25px;
    margin-bottom: 75px;   
}

table {
    background-color: #26273B;
    border-radius: 8px;
}

input {
    color: floralwhite;
    background-color: #26273B;
    font-size: 15px;
    border-style: solid;
    border-color: rgba(145, 147, 168, 0.5);
    border-width: 1px !important;
    border-radius: 4px;
    size: 70px;
}

input[type=number]:hover{
    border-color: floralwhite;
}
input[type=number]:focus{
    border-color: #1cbfff;
    outline: #1cbfff;
}

td {
    height: 40px;
    width: 50px;
}

#roles{
    width: 93%;
    height: 85%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#misc{
    width: 95%;
    height: 85%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#config {
    width: 85%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#config-input {
    width: 100%
}

.role-input,
.misc-input {
    margin-right: 20px;
    margin-left: 20px;
}

.data-misc {
    box-sizing: border-box;
    background-color: #2A2C2E;
    border-radius: 20px;
    width: 1400px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.data-roles {
    box-sizing: border-box;
    background-color: #2A2C2E;
    border-radius: 20px;
    width: 1500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.data-conf {
    box-sizing: border-box;
    background-color: #2A2C2E;
    border-radius: 20px;
    width: 1000px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 20px;
}
#data-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}